<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>Seabird Homepage</name>
  <service>
    <type>_http._tcp</type>
    <port>3002</port>
    <txt-record>path=/</txt-record>
    <txt-record>description=Seabird service dashboard</txt-record>
  </service>
</service-group>
