[Unit]
Description=NVMe Pi-hole data
DefaultDependencies=no
After=blockdev@dev-disk-by\x2dlabel-seabird\x2ddata.target

[Mount]
What=LABEL=seabird-data
Where=/srv/seabird/pihole
Type=btrfs
Options=noatime,compress=zstd:1,space_cache=v2,subvol=@data-pihole

[Install]
WantedBy=seabird-mounts.target
