[Unit]
Description=NVMe InfluxDB data
DefaultDependencies=no
After=blockdev@dev-disk-by\x2dlabel-seabird\x2ddata.target

[Mount]
What=LABEL=seabird-data
Where=/srv/seabird/influxdb
Type=btrfs
Options=noatime,compress=zstd:1,space_cache=v2,subvol=@data-influxdb

[Install]
WantedBy=seabird-mounts.target
