[Unit]
Description=Nextcloud database (PostgreSQL)
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/srv/seabird/nextcloud

[Container]
Image=docker.io/library/postgres:16-alpine
ContainerName=nextcloud-db
AutoUpdate=registry
PullPolicy=missing
Pod=nextcloud.pod

Volume=/srv/seabird/nextcloud/db:/var/lib/postgresql/data:Z

Environment=POSTGRES_DB=nextcloud
Environment=POSTGRES_USER=nextcloud
EnvironmentFile=/etc/seabird/nextcloud.env

[Service]
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target default.target
